.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  position: absolute;
  float: right;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}
.right{
  margin-left: 20rem;
}
.f-icons {
  display: flex;
  gap: 2rem;
}
.box-thenk{
  margin-top: 2rem;
  margin-left: 3rem;
  color: white;
}
.foo0ter2{
  display: none;
}


@media screen and (max-width: 480px){
  .footer{
    display: none;
  }
  .foo0ter2{
    display: block;
    margin-top: -8rem;
  }
  .foo0ter2 > img{
    height: 330px;
  }
  .ffbox{
    position: absolute;
    margin-top: -10rem;
    margin-left: 2rem;
  }
  .f-content{
    transform: scale(.5);
  }
}
